@*model IEnumerable<CoreAndFood.Data.Models.Food>*@
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<CoreAndFood.Data.Models.Food>
@*pagination için böyle yapıldı*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Food  List</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">ImageUrl</th>
            <th scope="col">Details</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var food in Model)
        {
            <tr>
                <th scope="row">@food.FoodID</th>
                <td>@food.Name</td>
                <td>@food.Category.CategoryName</td>
                <td>@food.Price</td>
                <td>@food.Stock</td>
                <td>@food.ImageUrl</td>
                <td><a href="/Food/UpdateFood/@food.FoodID" class="btn btn-primary">Details</a></td>
                <td><a href="/Food/UpdateFood/@food.FoodID" class="btn btn-success">Update</a></td>
                <td><a href="/Food/DeleteFood/@food.FoodID" class="btn btn-danger">Delete</a></td>
            </tr>
        }

    </tbody>
</table>

@*pagination  buttons*@
@Html.PagedListPager((IPagedList)Model, page=>Url.Action("Index", new { page}))

<a href="/Food/AddFood" class="btn btn-primary">New Food</a>